In [7]:
import pandas as pd
df = pd.read_csv('./data/processed/template_predicate.csv')
df2 = pd.read_csv('./data/processed/template.csv')
df2 = pd.concat([df2, df], axis=1)
df2.to_csv('./data/processed/template_merged.csv', index = False)

In [2]:
df2

                                                 String  ... label
0                                  Perhaps you could...  ...     0
1     Natalie in Graham, United States purchased a F...  ...     1
2                        Real time 30 Visitor right now  ...     1
3                              $69.50 For A few Details  ...     1
4             Your order is reserved for 09:57 minutes.  ...     1
...                                                 ...  ...   ...
2995                             No, I don't feel lucky  ...     1
2996                                        Black Jeans  ...     0
2997                0 DAYS22 HOURS13 MINUTES21 SECONDS   ...     1
2998                                      SAF Warriors   ...     0
2999                               Computer Accessories  ...     0

[3000 rows x 3 columns]